* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1173px;
    margin: 0 auto;
}

.example {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FCEBEF url("../image/011 1 (1).png") no-repeat bottom right;
    background-size: contain;
}

.f {
    margin: 20px;
    padding: 40px;
    height: 400px;
    left: 380px;
}

.parent {
    /*font-weight: 550;*/
    font-family: sans-serif;
    width: 502px;
    font-size: 50px;
    margin-bottom: 37px;
}
/*.btn {*/
/*    border: 1px solid red;*/
/*    padding: 10px;*/
/*    margin: 20px;*/
/*}*/

.title {
    font-weight: 100;
    /*height: 100px;*/
    width: 380px;
    font-size: 15px;
}

.color {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin: 170px 0 200px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}
.blog2{

}
.blog2 h2{
    text-align: center;
    margin-bottom: 67px;
    font-size: 47px;
    font-family: sans-serif;

}
/*ДЗ:*/
/*1) Создать уверсальный блок, который будет обрезать и выравнивать контент по центру*/
/*2) Расположить в первом блоке по вертикали текст по центру с помощью флекса*/
/*3) Сверстать второй блок при помощи флекса*/

/*.flex {*/
/*    background-color: firebrick;*/
/*    display: flex;*/
/*    !*flex-direction: row; все по умолчанию *!*/
/*    !*flex-direction: row-reverse; *!*/
/*    !*flex-direction: column;  *!*/
/*    !*flex-direction: column-reverse ;*!*/
/*    !*flex-wrap: nowrap;*!*/
/*    !*flex-wrap: wrap;*!*/
/*    !*justify-content: flex-start;*!*/
/*    !*justify-content: space-around;*!*/
/*    !*justify-content: flex-end;*!*/
/*    !*justify-content: center;*!*/
/*    !*justify-content: space-between; для элементов*!*/
/*    !*justify-content: space-evenly; для пространств*!*/
/*    !*align-items: flex-end;*!*/
/*    !*align-items: flex-start;*!*/
/*    !*align-items: centre;*!*/
/*    !*align-items: stretch; *!*/
/*    height: 350px;*/

/*}*/

/*.flex .child {*/
/*    flex: 0 0 200px;*/
/*    !*flex-grow: ;*!*/
/*    !*flex-shrink: ;*!*/
/*    !*flex-basis: ;*!*/
/*    padding: 20px;*/
/*    color: white;*/
/*    background-color: purple;*/
/*}*/

/*.flex .child.two {*/
/*    order: 1;*/
/*}*/

/*.flex .child.three {*/
/*    order: 4;*/

/*}*/

/*.flex .child.four {*/
/*    order: 3;*/

/*}*/

/*.flex .child.one {*/
/*    order: 5;*/
/*}*/

/*.flex .child.five {*/
/*    order: 2;*/

/*}*/
